<!doctype html>
<html lang="en" xmlns:th="">
<head th:replace="snippets.html :: name_head"></head>
<body>
	<nav th:replace="snippets.html :: name_navbar"></nav>
	<div class="container-fluid">

		<h3>Order</h3>

		<button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal"
			data-target="#add-order-modal">Add</button>
		&nbsp;
		<button type="button" class="btn btn-sm btn-outline-secondary" id="refresh-data">Refresh</button>
		&nbsp;

		<!-- Blank Row -->
		<div class="row">&nbsp;</div>
		<div class="row">

			<!-- Table -->
			<div class="col-12">
				<table class="table table-striped" id="order-table">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Date-Time</th>
							<th scope="col">Bill Amount</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- order Add Modal -->
	<div class="modal" tabindex="-1" role="dialog" id="add-order-modal">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Order Item</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class id="order-add-form">
						<div class="form-group row">
							<label for="inputbarcode" class="col-sm-2 col-form-label">Barcode</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="barcode"
									placeholder="enter barcode" required>
							</div>
						</div>
						<div class="form-group row">
							<label for="inputquantity" class="col-sm-2 col-form-label">Quantity</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="quantity"
									placeholder="enter quantity" required>
							</div>
						</div>
						<div class="form-group row">
							<label for="inputsellingPrice" class="col-sm-2 col-form-label">Selling
								Price</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="sellingPrice"
									placeholder="enter selling price" required>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-outline-secondary"
						data-dismiss="modal" id="cancel-order">Cancel</button>
					<button type="button" class="btn btn-sm btn-outline-primary" id="add-order">Add</button>
					<button type="button" class="btn btn-sm btn-outline-success" id="submit-order">Submit</button>
				</div>

				<!-- Blank Row -->
				<div class="row">&nbsp;</div>
				<div class="row">

					<!-- Table -->
					<div class="col-12">
						<table class="table table-striped" id="orderitemadd-table">
							<thead>
								<tr>
									<th scope="col">Barcode</th>
									<th scope="col">Quantity</th>
									<th scope="col">Selling Price</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Order Edit Modal -->
	<div class="modal" tabindex="-1" role="dialog"
		id="edit-orderitem-modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Order Item</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class id="order-edit-form">
						<div class="form-group row">
							<label for="inputbarcode" class="col-sm-2 col-form-label">Barcode</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="barcode"
									placeholder="enter barcode" required>
							</div>
						</div>
						<div class="form-group row">
							<label for="inputquantity" class="col-sm-2 col-form-label">Quantity</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" name="quantity"
									placeholder="enter quantity" required>
							</div>
						</div>
						<div class="form-group row">
							<label for="inputsellingPrice" class="col-sm-2 col-form-label">Selling
								Price</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" name="sellingPrice"
									placeholder="enter selling price" required>
							</div>
						</div>
						<input type="hidden" name="id">
						<input type="hidden" name="orderId">
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-outline-secondary"
						data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-sm btn-outline-primary" id="update-orderitem">Submit</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Order Display Modal -->
	<div class="modal" tabindex="-1" role="dialog" id="order-display-modal" data-backdrop="static">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Order Item</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="col-12">
						<table class="table table-striped" id="orderitem-table">
							<thead>
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Barcode</th>
									<th scope="col">Quantity</th>
									<th scope="col">Selling Price</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Container end-->

	<footer th:replace="snippets.html :: name_footer"></footer>
	<script th:src="@{/static/order.js}" />
	</script>
</body>

</html>