<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

	<nav th:replace="snippets.html :: name_navbar"></nav>

	<div class="container-fluid">

		<h3>Sales Report</h3>

		<!-- Top row with form-->
		<form id="filter-form">
			<div class="row">
				<div class="form-group col-md-6 col-lg-3">
					<label for="inputBrand" class="col-form-label">Brand</label> <select
						class="form-control" name="brand" id="inputBrand" required
						placeholder="Select Brand">
					</select>
				</div>
				<div class="form-group col-md-6 col-lg-3">
					<label for="inputBarcode" class="col-form-label">Start Date</label>
					<input id="startingdatepicker" name="startDate" required />
				</div>
				<div class="form-group col-md-6 col-lg-3">
					<label for="inputQuantity" class="col-form-label">End Date</label>
					<input id="endingdatepicker" name="endDate" required />
				</div>
				<div class="form-group col-md-6 col-lg-3 mt-auto">
					<button type="submit" class="btn btn-sm btn-outline-primary" id="refresh-data">Generate</button>
				</div>
			</div>
		</form>

		<div class="row">&nbsp;</div>

		<div class="row">
			<!-- Table -->
			<div class="col-12">
				<table class="table table-striped" id="sales-report-table">
					<thead>
						<tr>
							<th scope="col">Brand</th>
							<th scope="col">Category</th>
							<th scope="col">Quantity</th>
							<th scope="col">Revenue</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<button id="export" class="btn btn-sm btn-outline-primary" data-export="export">
					Download CSV <i class="fa fa-download"></i>
				</button>
			</div>
		</div>
	</div>
	<!-- Container end-->

	<footer th:replace="snippets.html :: name_footer"></footer>
	<script th:src="@{/static/report.js}" />
	</script>

</body>

</html>